:host {
  width: 880px;
  height: fit-content;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  iframe {
    border: 12px solid rgb(var(--neutral-1));
    border-radius: 16px;
    // opacity: 0;
    transition: .1s ease-in-out;
    box-sizing: border-box;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    > * + * {
      margin-left: 8px;
    }
  }
  h2 {
    margin: 40px 0 24px 0;
  }
  .color-property {
    .swatch {
      margin-bottom: 8px;
      grid-area: swatch;
      position: relative;
      padding-top: 50%;
      height: 0;
      border-radius: var(--border-radius);
      border: 1px solid rgba(var(--neutral-1), .2);
      input[type="color"] {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    .text {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
  }
}